body {
  color: #483434;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', sans-serif;

}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #483434;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #483434;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #6B4F4F;
}

hr{border:dotted #EED6C4 6px;
border-bottom: none;
width:4%;
margin: 100px auto;}

p{line-height: 2;}

.contact-message{width:40%
margin: 40px auto 60px;}
.top-container {
  background-color: #FFF3E4;
  position: relative;
  padding-top: 100px;
}

.copyright {color: #FFF3E4;
font-size: 0.75rem;
padding: 20px 0;}

.middle-container {margin: 100px 0;}


.bottom-container{background-color: #EED6C4;
padding: 50px 0 20px;}


.pro {
  text-decoration: underline;
}

.park{width:300px; height:300px;}

.top-leaves {
  width:100px; height:100px;
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-leaves {
  width:100px; height:100px;
  position: absolute;
  left: 250px;
bottom:2630px;
}

.park{margin-bottom: 0px;}

a{color: #6B4F4F;
font-family: Montserrat; margin: 10px 20px;
text-decoration: none;}

a:hover {color: #a87d7d;}

.skill-row{width: 50%;
margin: auto;margin: 100px auto 100px auto;
text-align: left;
}

.design-icon{float: left;
margin-right: 50px;}

.webdev-icon{float: right;
margin-left: 50px;}

.short-bio{margin-bottom: 50px;
}





.btn {
  background: #6B4F4F;
  background-image: -webkit-linear-gradient(top, #6B4F4F, #483434);
  background-image: -moz-linear-gradient(top, #6B4F4F, #483434);
  background-image: -ms-linear-gradient(top, #6B4F4F, #483434);
  background-image: -o-linear-gradient(top, #6B4F4F, #483434);
  background-image: linear-gradient(to bottom, #6B4F4F, #483434);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Montserrat;
  color: #EED6C4;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #826060;
  background-image: -webkit-linear-gradient(top, #826060, #6b4d4d);
  background-image: -moz-linear-gradient(top, #826060, #6b4d4d);
  background-image: -ms-linear-gradient(top, #826060, #6b4d4d);
  background-image: -o-linear-gradient(top, #826060, #6b4d4d);
  background-image: linear-gradient(to bottom, #826060, #6b4d4d);
  text-decoration: none;
}
